/* register/login styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    
   background-image:url('../images/b3.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
}
.container {
  max-width: 380px;
  padding-left: 500px;
  height:506px; 
}
.formregister {
    box-shadow: 0 4px 8px 0 #636363;
    transition: 0.3s;
    padding: 10px;
    margin-top: 110px;
    font-family: "Roboto", sans-serif;
    background-color: #E5E5E6;
    text-align:center;
    border-radius: 15px;   
}
.formregister:hover {
    box-shadow: 0 8px 16px 0 #636363;
}
.formregister  a {
  text-decoration: none;
  color: #0A1D39
}
form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:#fff;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
  }
button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background:	#0A1D39;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

/* new nav */

ul {
  list-style-type: none;
  margin: auto;
  padding: 15px;
  background-color: #0A1D39;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
    
}
img{
  width: 55px;
  height:55px;
  cursor: pointer;
  
}
li {
  float: left;
  padding: 6px 20px;
  font-family: "Roboto", sans-serif;
 
  
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.right-float {
  float: right;
}
.right-float a:hover {
  color: #68BDFD;
  transition: 0.4s ease;
}
/* navbar styles */

/* homepage styles */
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color: #010A29;
  font-family: "Roboto", sans-serif;

 
}

.containerindex{
  width:820px;
  padding-left:10px;
  margin:auto;
  text-align:center;
  font-family: "Roboto", sans-serif;

}



.header-content h1{
  
  font-size:40px;
  text-align: center;
  


}

.header-content p{
  font-size:25px;
  text-align: center;
  

}

.btn{
  background:#0A1D39;;
  color:	#ffffff;
  padding:5px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 30px

}

.section-index{
  background-image:url('../images/new1.jpg');
  background-size: cover;
}
.section-profile{
 background-color:#E8EAF2;
 position: absolute;
  top:80px;
  left:0;
  width:100%;
  height:87vh;
  overflow:hidden;

 
}

.userprofile {
  box-shadow: 0 2px 6px 0 #636363;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E6;
  border-radius: 10px;
  font-weight: 400px;
 
}

.user{
  width: 380px;
  padding-left: 30px
 }
#username{
  text-align:center;
  margin-top: 20px;
 
  }

 #editprofile{
  text-align:center;
  margin-top: 20px;
  }
 #help{
    text-align:center;
    margin-top: 20px; 
 }
 #bio{
  text-align:center;
  margin-top: 20px; 
}
 .avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}   


.userprofile  a {
text-decoration: none;
color: #0A1D39
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background:	#0A1D39;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}

h4{
color: #0A1D39;
}

h2{
  color: #0A1D39;
 }

 h1{
    color: #0A1D39;
 }
 h3{
    color: #0A1D39;
 }
 h1{
  color: #0A1D39;
  }
h5{
  color: #0A1D39;
  font-family: "Roboto", sans-serif;
 }

 .usercontentcontainer{
  width: 580px;
  float:right;
  padding-right: 330px
 }

 .userquestions {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
  

.usercontent{
  width: 880px;
  float:right;
 
 }
 .viewuseranswers {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background:	#0A1D39;
  width: 15%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}
.deleteuseranswers {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background:	#E74C3C;
  width: 10%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}

.homecontentcontainer{
  width: 580px;
  float:right;
  padding-right: 320px;
 }

 .homequestions {
   font-family: "Roboto", sans-serif;
}
  
 .viewhomeanswers {
  font-family: "Roboto", sans-serif;
  background:	#0A1D39;
  width: 14%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}
.categorysection {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  background:	#68BDFD;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #182C61;
  cursor: pointer;
  border-radius: 5px;
  
}
.postquestionscontainer{
  float:right;
  padding-right: 100px;
 
 }

 .postquestionsuestions {
   font-family: "Roboto", sans-serif;
}
  

.homecontent{
  width: 880px;
  float:right;
  
 }

 /* modal styles */
 .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* end of modal styles */