/* register/login styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    
   background-image:url('../images/b3.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
}
.formregister {
    box-shadow: 0 4px 8px 0 #636363;
    transition: 0.3s;
    padding: 10px;
    margin-top: 110px;
    font-family: "Roboto", sans-serif;
    background-color: #E5E5E6;
    text-align:center;
    border-radius: 15px;
  
    
 }
 .container {
    max-width: 380px;
    padding-left: 500px;
    
    
}

.formregister:hover {
    box-shadow: 0 8px 16px 0 #636363;
}
.formregister  a {
  text-decoration: none;
  color: #0A1D39
}
form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:#fff;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
  }
button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background:	#0A1D39;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}
h2{
    color: #0A1D39;
}

/* navbar styles */

.navbar{
  z-index:2;
  overflow: hidden;
  background:#0A1D39;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  top: 0;
  padding: 15px;

}
.navbar img{
  width: 55px;
  height:55px;
  cursor: pointer;
}
.navbar a{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  align-self: center;
  text-align: center;
  margin: 0;
}

/* homepage styles */
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color: #010A29;
  font-family: "Roboto", sans-serif;

 
}

.containerindex{
  max-width:820px;
  padding-left:10px;
  margin:auto;
  text-align:center;
  font-family: "Roboto", sans-serif;

}



.header-content h1{
  padding-top: 30px;
  font-size:40px;
  text-align: center;
  


}

.header-content p{
  font-size:25px;
  text-align: center;
  

}

.btn{
  background:	#68BDFE;
  color:#0A1D39;
  padding:5px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 30px

}









